html{
    height: 100%;
}

body {
    font-family: "Roboto";
    font-style: normal;
    background-color: #ffffff;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: red;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
}

h1 {
    font-weight: bold;
    font-size: 38px;
    color: white;
}

h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

h3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    width: 310px;
    position: absolute;
    top: 108px;
    left: 24px;
}

h4 {
    font-weight: 400;
    font-size: 39px;
    color: white;
    margin-inline: 180px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding-bottom: 85px;
}
.tela_1, .tela_2, .tela_3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    position: relative;
    width: 100%;
    height: 100%;
}
.tela_1 .superior{
    height: 210px;
    width: 70%;
    margin: 70px 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    box-sizing: content-box;
    justify-items: start;
}

div.criar-quizz {
    height: 181px;
    width: 70%;
    margin: 70px 0px;
    border: 1px dashed #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

div.criar-quizz div.texto {
    height: 108px;
    width: 250px;
    color: #b9b9b9;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align-last: center;
}

div.criar-quizz div.botao {
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ec362d;
    border: 1px dashed #ec362d;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 25px;
}

div.criar-quizz div.botao:hover {
    color: rgba(235, 48, 48, 0.416);
    border: rgb(235, 48, 48);
}

div.quizz_usuario{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    box-sizing: content-box;
    justify-items: start;
    position: relative;
    flex-wrap: wrap;
    
}
div.quizz_usuario h2{
    position: absolute;
    top: -20px;
    left: 0px;
}

div.quizz_usuario ion-icon{
    position: absolute;
    top: -30px;
    left: 135px;
    height: 40px;
    width: 40px;
    color: #ec362d;
}

div.lista-quizz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

div.lista-quizz ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.titulo-lista-quizz {
    width: 158px;
    height: 23px;
    position: absolute;
    top: -20px;
    left: 0px;
}

.quizz {
    position: relative;
    height: 182px;
    width: 340px;
    object-fit: cover;
    margin: 20px 10px;
    border-radius: 15px;
    box-sizing: border-box;
}



.caixa-quizz .caixa-pergunta h2{
    font-weight: 700;
    font-size: 23px;
    color: white;
}


.caixa-quizz .cordois {
    background-color: #A0438D;
}

.caixa-quizz .corum {
    background-color: #434ca0;
}

.caixa-quizz .opcao-resposta {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 15px;
}
.tela_2 .img-topo {
    width: 100%;
    height: 227px;
    text-align: center;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
    
}
.tela_2 .img-topo img {
    width: 100%;
    height: 227px;
}

.caixa-quizz {
    
    width: 759px;
    background-color: #ffffff;
    box-shadow: 5%;
    margin-top: 42px;
    padding: 28px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.finalizador {
    width: 759px;
    background-color: #ffffff;
    box-shadow: 5%;
    margin-top: 44px;
    padding: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.img-topo-fim {
    height: 99px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EC362D;
    word-break: break-word;
}
.conteudo-fim {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.conteudo-fim img {
    width:50%;
}
.texto-fim {
    width: 40%;
    display:flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 19px;
    color: #484848;
    word-break: break-word;
}
.caixa-pergunta {
    height: 138px;
    width: 100%;    
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 7px;
    
}

.caixa-duas-opcoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-inline: 7px;    
}
.caixa-opcao {
    width:100%;
    max-width: 332.5px;
}

.caixa-duas-opcoes .caixa-opcao:nth-child(1) {
    margin-right: 12px;
}
.caixa-duas-opcoes .caixa-opcao:nth-child(2) {
    margin-left: 12px;
}
.caixa-quizz img {
    width: 330px;
    height: 176px;
    border-radius: 10px;
    object-fit: cover;
}
.caixa-quizz img {
    width: 100%;
}
.naoclicada {
    opacity: 0.3; 
     
    }
.opcao-resposta.true {
    color: #009C22;
}
.opcao-resposta.false{
    color: #FF4B4B;
}
.oculta {
    color: #000000;
}
.botao-reiniciar {
    display: flex;
    background-color: #EC362D;
    width: 261px;
    height: 52px;
    margin-top: 57px;
    border-radius: 15px;
    font-size: 21px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF5F4;
    
}
.botao-voltarinicial {
    width: 261px;
    height: 52px;
    display: flex;
    color: #818181;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-top: 25px;
}

.tela_3 ul.comeco {
    width: 100%;
    margin-top:100px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    position: relative;
    width: 100%;
    
}

.tela_3 ul .perguntas_usuarios{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tela_3 ul .comeco_box, .tela_3 ul .pergutas1_usuario_box{
    margin-top: 20px;
    width: 50%;
    height: max-content;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.tela_3 ul .pergutas1_usuario_box .incorretas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tela_3 ul input{
    width: 85%;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.tela_3 button{
    width: 35%;
    height: 60px;
    background-color: #ec362d;
    border-radius: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color:#FFF5F4;
    margin-top: 100px;
    text-align: center;
}

.tela_3 button.prosseguir:hover{
    background-color: #e9807b;
}


@media (max-width: 1100px) {
    h4 {        
        font-size: 19px; 
        margin-inline: 33px;       
    }
    .img-topo {        
        height: 142px;        
    }
    .caixa-quizz {
        height: 436px;
        width: 100%; 
        max-width: 759px; 
        padding: 18px;   
        margin-top: 24px;  
    }
    .caixa-pergunta {
        height: 89px;        
        margin-inline: 0px;        
    }
    h2 {        
        font-size: 19px;        
    }
    .opcao-resposta {        
        font-size: 13px;        
    }
    .caixa-duas-opcoes {        
        margin-top: 13px;
        margin-inline: 0px;
        max-width: 689px;
        max-height: 136px;
    }
    .caixa-duas-opcoes .caixa-opcao:nth-child(1) {
        margin-right: 6px;
    }
    .caixa-duas-opcoes .caixa-opcao:nth-child(2) {
        margin-left: 6px;
    }
    .caixa-opcao img {
        max-height: 119px;
        max-width: 210px;
    }

}
