
    

    body{
    
        font-family: 'Roboto';
        font-style: normal;
        background-color: #FFFFFF;
    }

    header{
        display: flex;
        justify-content: center;
        height: 70px;
        width: 100%;
        background-color: red;
        align-items: center;
    }

    h1{
        font-weight: bold;
        font-size: 38px;
        color: white;
    }
    h2 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px;
        color: #000000;
    }
    h3 {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 19px;
        color: #ffffff;
        width: 309px;
        position: absolute;
        top: 127.5px;
        left: 23.5px;
    }

    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    div.criar-quizz{
        height: 181px;
        width: 80%;
        margin: 70px 0px;
        border: 1px dashed #D5D5D5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-sizing: border-box;
    }
    div.criar-quizz div.texto{
        height: 108px;
        width: 250px;
        color: #B9B9B9;
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    div.criar-quizz div.botao{
        font-size: 21px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #EC362D;
        border: 1px dashed #EC362D;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 5px;
        margin-bottom: 25px;
    }
    .titulo-lista-quizz {
        width: 158px;
        height: 23px;
        position: absolute;
        top: 329.5px;
        left: 150px;
    }
    div.lista-quizz{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        margin-top: 33.5px;
        
    }
    .quizz {
        
        position: relative;
        
    }
    .titulo-quizz {
        
    }

    div.lista-quizz div.quizz img{
        height: 182px;
        width: 340px;
        
        margin: 7.5px;
        border-radius: 5px;
        
        
    }
    div.lista-quizz div.quizz{
        
    }
    @media (max-width: 1100px){
        .titulo-lista-quizz {
            
            left: 18px;
        }
}